@import url('https://fonts.googleapis.com/css?family=Inconsolata');

tspan {
	fill: #673AB7;
/* 	stroke: #f06; */
	stroke-width: 0.85;
/*   font-family: 'Inconsolata'; */
}

text {
  font-weight: lighter;
}
input[type=text] {
	width: 100%;
  font-family: 'Inconsolata';
  font-size: 14px;
  outline: none;
  color: #666;
}

rect {
	fill: #c3b0e3;
}

/*Doesn't seem to work*/
/*svg .rotate {
  animation: rotate 5s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/