@import url('https://fonts.googleapis.com/css?family=Inconsolata');

tspan {
	fill: #f06;
/* 	stroke: #f06; */
	stroke-width: 0.85;
/*   font-family: 'Inconsolata'; */
}

text {
  font-weight: lighter;
}
input[type=text] {
	width: 100%;
  font-family: 'Inconsolata';
  font-size: 14px;
  outline: none;
  color: #666;
}

rect {
	fill: #631406;
}